.headerMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: .1px solid #fff;
  background:#181818;

}

.headerMenu-logo img {
  width: 4rem;

}

.headerMenu-logo {
  height: 5rem;
  display: flex;
  align-items: center;
}



.headerMenu-sub {
  margin-right: 3.5rem;
}

.headerMenu-sub i:not(:last-of-type) {
  margin-right: 2rem;
}

/* desktop */
@media (min-width:992px) and (max-width:1200px) {
  .headerMenu {
    padding: 1rem 4.5rem;
  }
}

/* tablet */
@media (min-width:768px) and (max-width:992px) {
  .headerMenu {
    padding: 1rem 2.5rem;
  }
}

/* mobile */
@media (min-width:576px) and (max-width:768px) {
  .headerMenu {
    padding: 1rem 2rem;
  }
}

/* small */
@media (max-width:576px) {
  .headerMenu {
    padding: 1rem 1rem;
  }
}

/* wide */
@media (min-width:1200px) {
  .headerMenu {
    padding: 1rem 5rem;
  }
}